[Unit]
AssertPathExists=/home/user/talkrec/server/dispatcher

[Service]
WorkingDirectory=~
ExecStart=/home/user/talkrec/server/dispatcher

[Install]
WantedBy=default.target