[Unit]
Description=monitor of record stations
AssertPathExists=$serverBin/monitor-recorders

[Service]
WorkingDirectory=~
ExecStart=$serverBin/monitor-recorders
RestartSec=12
Restart=always

[Install]
WantedBy=default.target
