[Unit]
Description=rsync daemon to upload records and download scripts/binaries

[Service]
WorkingDirectory=~
ExecStartPre=/bin/rm -f $configDir/rsyncd.pid
ExecStart=/usr/bin/rsync --daemon --no-detach --config=$configDir/rsyncd.conf

[Install]
WantedBy=default.target
