[Unit]
Description=feeder of sound to Yandex SpeechkitBox
AssertPathExists=$serverBin/talkrec-feeder

[Service]
WorkingDirectory=~
ExecStart=$serverBin/talkrec-feeder

[Install]
WantedBy=default.target