[Unit]
Description=loader of recognized texts to database
AssertPathExists=$serverBin/talkrec-loader

[Service]
WorkingDirectory=~
ExecStart=$serverBin/talkrec-loader
RestartSec=12
Restart=always

[Install]
WantedBy=default.target
