[Unit]
Description=feeder of sound to Yandex SpeechkitBox
AssertPathExists=$serverBin/talkrec-feeder

[Service]
WorkingDirectory=~
ExecStart=$serverBin/talkrec-feeder
RestartSec=12
Restart=always

[Install]
WantedBy=default.target