[Unit]
AssertPathExists=/home/user/talkrec/server/talkrec-feeder

[Service]
WorkingDirectory=~
ExecStart=/home/user/talkrec/server/talkrec-feeder

[Install]
WantedBy=default.target